@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



body {
  background: black;
  color: white;
}

.hero{
  height: 100vh;
  width: 100%;
  background: turquoise;
}

h1{
  z-index: 5;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 5;
  /* background: black; */


}

.navbar ul{
  display: flex;
  gap: 10px;
  list-style: none;
  z-index: 5;
}

li{
  cursor: pointer;
  font-size: 1.5rem;
}

.logo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: orangered;
  z-index: 5;
}

.cta{
  background: white;
  color: black;
  padding:0 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}



.about{
  display: flex;
  gap: 10px;
  min-height: 100vh;
  
}

.col-1, .col-2{
  width: 100%;
}

.col-1{
  border-right: 2px solid white;
  padding: 24px;
}

.graphic{
  width: 80%;
  border-radius: 16px 0 0 16px;
  margin-left: auto;
  margin-top: 16px;
  height: 100px;
  background: lightgreen;
}


.project-card{
  width: 80%;
  margin: 24px auto;
  /* background: white;
  color: black; */
  display: flex;
  padding: 16px;
  gap: 10px;
  border-radius: 16px;

}

.project-image{
  width: 100%;
  height: 300px;
  background: lightblue;
  border-radius: 16px;
}

.live-btn{
  border: 3px solid palegreen;
  border-radius: 8px;
  padding: 2px;
}

.more{
  background: white;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 180px;
  margin-left:40%;
  transition: 500ms;
  
}

.more:hover{
  background: black;
  color: white;
  border: 1px solid white;
}

form{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 24px auto;
}

input, textarea {
  background: black;
  color: white;
  border: 1px solid white;
  min-height: 40px;
  border-radius: 8px;
}

.submit{
  width: 50%;
  margin: 16px auto;
  border: 3px solid palegreen;
  transition: 500ms;
}

.submit:hover{
  background: white;
  color: black;
  border: none;
}

.bubble{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  background: lightblue;
  position: absolute;
  top: 100;
  left: 500px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble::before{
  content: '';
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 10px;
  left: 0px;
}

.bubble::after{
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 10px;
  left: 60px;
  z-index: 2;
}

.stack{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px dotted white;
  z-index: 3;
}

.purple{
  background: rgba(173, 87, 173, 0.822);
}

.stack img{
  width: 100%;
  height: 100%;
}

.division{
  width: 50vw;
  height: 100vh;
  background: plum;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}